.cart{
    min-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    width: 15rem;
    padding: 1.5rem;
    margin: 1rem;
    display: inline-block;
    align-items: center;
    transition: box-shaow 0.3s ease-in-out;
}

.miBtn{
    display: flex;
    justify-content: center;
    align-content: center;
}
.total-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center ;
    width: 100%;
}
.producto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}