.conteneor{
    display: flex;
    flex-direction: row;
    
}

.foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 900px;
}

.datos{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img{
    width: 400px;
    /* border: 2px solid black; */
}
.nombre{
    font-size: 30px;
}
.descripcion{
    font-size: 20px;
}